<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.js"></script>

<script>

$('#createNew').on('click', function() {
	console.log("createNewShow");
});
function handleSelect(elm)
{
window.location = "/show/genre/" + elm.value;
}

function handleSelect1(elm)
{
window.location = "/show/year/" + elm.value;
}

function handleSelect2(elm)
{
// console.log(loc);
window.location = "/show/" + elm.value + "/reviews";
}

function handleSelect3(elm)
{
// console.log(loc);
window.location = "/show/" + elm.value + "/newReview";
}


function handleSelect4(elm)
{
// console.log(loc);
window.location = "/show/" + elm.value;
}

function handleSelect5(elm)
{

window.location = "/show/" + elm.value + "/review/delete";
}

function handleSelect6(elm)
{
	window.location = "/show/tweets/" + elm.value;
}

function handleSelect7(elm)
{

window.location = "/show/youtube/" + elm.value;
}
function myFunction() {
    var input, filter, ul, li, a, i, txtValue;
    input = document.getElementById("myInput");
    filter = input.value.toUpperCase();
    ul = document.getElementById("myUL");
    li = ul.getElementsByTagName("li");
		var box = document.getElementById("hide");
		box.style.display = "";
		if(input.value.length == 0){
			box.style.display = "none";
		}
		var count = 0;
    for (i = 0; i < li.length; i++) {
        a = li[i].getElementsByTagName("a")[0];
        txtValue = a.textContent || a.innerText;
        if (txtValue.toUpperCase().indexOf(filter) == 0) {
            li[i].style.display = "";
						noInput(count, li.length);
        }
				else {
            li[i].style.display = "none";
						count++;
						noInput(count, li.length);
        }
    }
}

function noInput(count, exists) {
	var box = document.getElementById("hide");
	var input = document.getElementById("myInput");
	if(count == exists){
		alert("There are no shows with the title " +input.value);
		input.value = "";
	}

}

function hide() {
	var input = document.getElementById("myInput");
	var box = document.getElementById("hide");
	if(input.value.length == 0){
		box.style.display = "none";
	}
}
</script>



<body  onload = "hide()">

	{{#if search}}
	<div id = "searchbar">
	<input type="text" id="myInput" onkeyup="myFunction()" placeholder="Search for titles.." title="Type in a name">
	<ul id="myUL" >
		<div id = "hide">
	{{#each search}}
	<li><a>{{this.title}}</a></li>
	{{/each}}
	</div>
	</ul>
	</div>
	{{/if}}

	<center>
{{#each tv}}
<div id="showList">

<article class = "showEntry">
	<h2 class="title">{{this.title}}</h2>
	<hr>
  <p class="year">Release Year: {{this.year}}</p>
  <p class="genre">Genre: {{ this.genre}}</p>
	<p class="seasons">Seasons: {{ this.seasons}}</p>
	<img src = {{this.url}}>
</article>
{{/each}}
</center>
</div>


</body>
